@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #16242e;
  justify-content: center;
}

#itemSelect {
  width: 100%;
  font-weight: 600;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #094d851a;
  transition: border-color 0.3s ease;
}

.container {
  max-width: 400px;
  margin: 60px 30px;
  padding: 40px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  padding-bottom: 30px;
  color: #333;
}

#quantityInput{
  margin-bottom: 0px;
}

.quantityInWords {
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 20px;
}

.unitsInput{
  margin-top: 10px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="number"],
select {
  width: calc(100% - 24px); /* Adjusted width with consistent left and right padding */
  padding: 12px;
  font-weight: 600;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #094d851a;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  border-color: #25829c;
}

#submit{
  margin-top: 40px;
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #246591;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit {
  background-color: #153c56;
}

.toast {
  background-color: #00ff8c;
  color: #000000;
  font-size: 16px;
  padding: 12px;
  border-radius: 5px;
  margin-top: 10px;
}

/* New styles for the modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Darken background */
  z-index: 9998; /* Ensure overlay is behind modal content */
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 18rem;
  width: 18rem;
  transform: translate(-50%, -50%);
  background-color: #16242e;
  padding: 4px;
  border-radius: 10px;
  z-index: 9999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-content video{
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-content svg{
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close {
  position: absolute;
  top: -10px;
  right: 10px;
  cursor: pointer;
  font-size: 50px;
  color: #000000;
  z-index: 100;
}
